{% extends "layout.twig" %}
{%  block body %}
    <h3> hello {{ user.login }} </h3>

    <a href="/logout"> Выход </a>
    <div id="comments">
        {% include 'comment/list.twig' %}
    </div>
{%  endblock %}